__pycache__
.pytest_cache
*.egg-info
data/JSRT/images/LR_64/images/*
data/JSRT/images/LR_64/labels/*
data/JSRT/images/LR_256/images/*
data/JSRT/images/LR_256/labels/*
data/Montgomery/images/LR_64/images/*
data/Montgomery/images/LR_64/labels/*
data/Montgomery/images/LR_256/images/*
data/Montgomery/images/LR_256/labels/*
data/Shenzhen/images/LR_64/images/*
data/Shenzhen/images/LR_64/labels/*
data/Shenzhen/images/LR_256/images/*
data/Shenzhen/images/LR_256/labels/*
env
results
experiments
tests
