# Standard resolution of Shenzhen database (in mm) 
std_res = 3000 * 1.

# Number of classes
n_labels = 1

# Dimension of the latent space
n_codes = 32

# Training setup
learning_rate = 1e-3
iterations = 18000
batch_size = 16
image_size = [64, 64]

# Directory for saving trained models
ckpt_dir = './model/Shenzhen/AENet/ckpt'

# Directory for saving test results
result_dir =  './result/Shenzhen/AENet'

# Training/Test files
train_lbs_file = './config/Shenzhen/training_files/train_labels_64'
test_lbs_file = './config/Shenzhen/training_files/test_labels_64'


