# Standard resolution of Montgomery database (in mm) 
std_res = 4892 * 0.0875

# Number of classes
n_labels = 1

# Dimension of the latent space
n_codes = 32

# Training setup
learning_rate = 1e-3
iterations = 18000
batch_size = 32
image_size = [64, 64]

# Regularization parameters
tv_reg = 5e-5
ce_reg = 1
ae_reg = 1e-1

# Directory for saving trained models
ckpt_dir = './model/Montgomery/ACRegNet/ckpt'

# Directory for saving test results
result_dir =  './result/Montgomery/ACRegNet'

# Directory of trained autoencoder models
aenet_dir = './model/Montgomery/AENet/ckpt'

# Training/Test files
train_ims_file = './config/Montgomery/training_files/train_images_64'
train_lbs_file = './config/Montgomery/training_files/train_labels_64'
test_ims_file = './config/Montgomery/training_files/test_images_256'
test_lbs_file = './config/Montgomery/training_files/test_labels_256'

